.navigation-col-one {
    padding: 0 !important;
    margin: 0 !important;
  }

.footer-col-one{
    padding: 0 !important;
    margin: 0 !important;

}

.date-display {
    font-weight: bold;
    font-size: 20px;
  }
  