/* Base styles for all devices. These will be the defaults. */

.title-heading {
  font-family: "Seaweed Script";
  font-size: 70px;
  text-align: center;
}

.date-area {
  font-weight: bold;
  font-size: 20px;
}

.main-heading-area {
  margin-top: 20px;
}

.no-col-nav {
  padding: 0 !important;
  margin: 0 !important;
}

.footer-col {
  margin-top: 40px;
  padding: 0 !important;
}

.twitter-widget {
  width: 60%;
  margin-left: 50px;
  margin-top: 30px;
}

.weather-widget {
  width: 100%;
  margin-top: 30px;
}

.extra-container {
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.calendar-widget {
  width: 100%;
  margin-left: 50px;
  margin-top: 30px;
}

.weather-title {
  text-align: center;
  font-size: 40px;

  margin-top: 30px;
}

.twitter-title {
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.events-title {
  margin-top: 40px;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: black;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2px;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear 15s infinite;
}
.hmove:hover {
  animation-play-state: paused;
}

.navigation-col-one {
  padding: 0 !important;
  margin: 0 !important;
}

.footer-col-one {
  padding: 0 !important;
  margin: 0 !important;
}

.date-display {
  font-weight: bold;
  font-size: 20px;
}

.heading-row {
  margin-top: 30px;
}

.new-article-container {
  margin-top: 50px;
  padding: 0 !important;
  margin-left: 25%;
  margin-right: 35%;
}

.para {
  width: fit-content;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}

.para-container {
  width: fit-content;
  margin-top: 20px;
}

.article-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
  font-weight: bold;
  color: black;
}

.article-sub-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: gray;
}

.info-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.news-img {
  width: 100%;
}

#root
  > main
  > div
  > div:nth-child(3)
  > div.extra-container.col-lg-4
  > div.weather-widget
  > section
  > div
  > div
  > div {
  width: 80% !important;
  margin-right: 20px;
}

.news-area {
  margin-top: 70px;
  margin-left: 100px;
}

.footer-box {
  margin-top: 80px;
}

/* 1. Small Mobile Devices (Less than 480px) */
@media only screen and (max-width: 479px) {
  /* Small mobile styles here */

  .weather-title {
    margin-top: 40px;
  }

  .react-calendar {
    width: 85%;
  }

  .twitter-widget-0 {
    width: 100%;
  }

  .twitter-widget {
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
  }

  #rem {
    display: none;
  }

  a {
    display: none;
  }

  #linker {
    margin-top: 20px;
  }

  #new-imgg {
    width: 100%;
  }

  .new-article-container {
    margin-top: 20px;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .news-img {
    width: 100%;
  }

  .para {
    width: fit-content;
    font-size: large;
  }

  .news-area {
    margin-top: 70px;
    margin-left: 0px;
  }

  .card {
    width: 100% !important;
  }

  .calendar-widget {
    width: 100%;
    margin-left: 10px;
    margin-top: 30px;
  }

  .events-title {
    font-size: 40px;
    text-align: center;
  }
}

/* 2. Big Mobile Devices (Between 480px and 767px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Big mobile styles here */
  a {
    display: none;
  }

  .news-area {
    margin-top: 70px;
    margin-left: 0px;
  }

  .card {
    width: 100% !important;
  }
}

/* 3. Tablets and iPads (Between 768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */
  .news-area {
    margin-top: 70px;
    margin-left: 0px;
  }
}

/* 4. Small Laptops (or large tablets, Between 1024px and 1366px) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* Small laptop styles here */
}

/* 5. Big Laptops and Desktops (Greater than 1366px) */
@media only screen and (min-width: 1367px) {
  /* Big laptop and desktop styles here */
}
