/* Base styles for all devices. These will be the defaults. */
body {
  /* (A) FIXED WRAPPER */
  .hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: black;
    color: white;
    font-weight: bold;
  }

  /* (B) MOVING TICKER WRAPPER */
  .hmove {
    display: flex;
  }

  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }

  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  .hmove {
    animation: tickerh linear 15s infinite;
  }
  .hmove:hover {
    animation-play-state: paused;
  }

  .card {
    flex-direction: row;
    align-items: center;
  }
  .card-title {
    font-weight: bold;
  }
  .card img {
    width: 60%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .card-body {
    padding: 0.5em 1.2em;
    padding-bottom: 160px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float:left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
}

/* 1. Small Mobile Devices (Less than 480px) */
@media only screen and (max-width: 479px) {
  /* Small mobile styles here */

  a {
    display: none;
  }

  .card-body {
    padding: 0.5em 1.2em;
  }

  .card-body .card-text {
    margin: 0;
  }

  .card img {
    width: 70%;
  }

  .card {
    flex-direction: column;
    align-items: center;
    width: 130%;
    margin-left: -50px;
    text-align: center;
    height: 700px;
  }
  #linker {
    margin-top: 20px;
  }
  #new-imgg {
    width: 100%;
  }
}

/* 2. Big Mobile Devices (Between 480px and 767px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Big mobile styles here */

  a {
    display: none;
  }

  .card-body {
    padding: 0.5em 1.2em;
  }

  .card-body .card-text {
    margin: 0;
  }

  .card img {
    width: 70%;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }
}

/* 3. Tablets and iPads (Between 768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */

  .card img {
    width: 50%;
  }

  .card-body {
    padding: 0.5em 1.2em;
    padding-bottom: 160px;
  }
}

/* 4. Small Laptops (or large tablets, Between 1024px and 1366px) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* Small laptop styles here */
}

/* 5. Big Laptops and Desktops (Greater than 1366px) */
@media only screen and (min-width: 1367px) {
  /* Big laptop and desktop styles here */
}
